

.link1 {
    text-decoration: none;
    color:black;
    padding: 9px;
    border: 2px solid black;
    transition:all ease-in-out 0.4s;
    box-shadow: 10px 10px;


}
.link1:hover {
    color: white;
    background-color: black;

}
.link2 {
    text-decoration: none;
    color: black;
    padding: 2px;
    border: 2px solid black;
    box-shadow: 4px 4px;
    transition:all ease-in-out 0.4s;
    margin-right: 30px;

}
.link2:hover {
    color: white;
    background-color: black;
}

@font-face {
    font-family: "poppins";
    src: url('konten/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: "8bit";
    src: url("konten/PressStart2P-vaV7.ttf") format('truetype');
}
@font-face {
    font-family: "pixeboy";
    src: url('konten/Pixeboy-z8XGD.ttf') format('truetype');

}
::-webkit-scrollbar{
    width:10px;
  }
  ::-webkit-scrollbar-track{
    background:black; 
  }
  ::-webkit-scrollbar-thumb{
    background-color:gray ;
  }
 .item-footer a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
    border-right: 2px solid white;
    padding-right: 4px;
}
